.App {
    text-align: center;
    padding: 20px;
    font-family: 'Inter', sans-serif; 
    }
  
  .App-header h1 {
    font-size: 3rem; 
    font-weight: bolder; 
    margin: 0; 
}

.App-header h1:first-of-type {
    margin-bottom: 0px; 
}

  
  .highlight {
    background: linear-gradient(to right, #00d4ff, #8000ff);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .divider {
    background: linear-gradient(to right, #00d4ff, #8000ff); 
    height: 5px; 
    width: 680px; 
    margin: 10px auto; 
    border: none;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .stat-item h2 {
    font-size: 4rem;
    margin: 0;
    color: black;
  }
  
  .stat-item p {
    margin-top: 5px;
    font-size: 1rem;
    color: gray;
  }
  